amqp
billiard
bleach
celery
Django
django-celery-results
django-redis
eventlet
greenlet
html5lib
kombu
Markdown
mdx-bleach
Pillow
PyMySQL
pytz
redis
six
uWSGI
vine
webencodings
gunicorn
django-heroku

